name: Code Quality

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    name: test-${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Sync
        run: |
          uv sync --all-extras

      # Install MSVC on Windows
      # This is used to test parsing MSVC envvars
      - name: Setup MSVC
        uses: TheMrMilchmann/setup-msvc-dev@v4
        if: matrix.os == 'windows-latest'
        with:
          arch: x64
          vs-path: "C:\\Program Files\\Microsoft Visual Studio\\2022\\Community"

      - name: Run tests
        run: |
          uv run pytest --cov --cov-branch --cov-report=xml --junitxml=junit.xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: lunacd/cimple-py
          flags: ${{ matrix.os }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }} 
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: lunacd/cimple-py
          flags: ${{ matrix.os }}
          report_type: test_results

  lint:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    name: lint-${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Sync
        run: |
          uv sync --all-extras

      - name: Run pyright
        run: |
          uv run pyright

      - name: Run ruff
        run: |
          uv run ruff check .

      - name: Run ruff-format
        run: |
          uv run ruff format --check --diff .
